<!-- build:[src] medias/video/ -->
	<video class="jurassic-videos" id="water" autoplay muted loop>
		<source src="assets/medias/video/jurassic_water.mp4" type="video/mp4">
		<source src="assets/medias/video/jurassic_water.webm" type="video/webm">
		<source src="assets/medias/video/jurassic_water.ogv" type="video/ogg">
	</video>

	<video class="jurassic-videos" id="ripple" preload>
		<source src="assets/medias/video/jurassic_ripple.mp4" type="video/mp4">
		<source src="assets/medias/video/jurassic_ripple.webm" type="video/webm">
		<source src="assets/medias/video/jurassic_ripple.ogv" type="video/ogg">
	</video>

	<video class="jurassic-videos" id="trex" preload>
		<source src="assets/medias/video/jurassic_trex.mp4" type="video/mp4">
		<source src="assets/medias/video/jurassic_trex.webm" type="video/webm">
		<source src="assets/medias/video/jurassic_trex.ogv" type="video/ogg">
	</video>
<!-- /build -->