@import 'partials/reset';

$font-stack: 'Roboto', sans-serif;
$main-color: #B64545;

body {
	height: 100%;
	font-family: $font-stack;
	font-size: 16px;
}

a, a:visited {
	text-decoration: none;
	color: #FFF;
}

.video-container {
	/* visibility: hidden; */

	video, canvas {
		position: absolute;
		top: 0;
		right: 0;
	}
}

@import 'partials/menu';
@import 'partials/container';