a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  height: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px; }

button {
  display: block;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Nunito';
  font-size: 0.75em;
  color: #FFF;
  cursor: pointer;
  -webkit-transition: all 250ms;
          transition: all 250ms; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.3; }

.no-spacing {
  letter-spacing: 0; }

a,
a:visited {
  text-decoration: none;
  color: #FFF; }

.video-container {
  visibility: hidden; }
  .video-container video, .video-container canvas {
    position: absolute;
    top: 0;
    right: 0; }

#dpi {
  height: 1in;
  width: 1in;
  left: 100%;
  top: 100%;
  position: fixed; }

.container, .module .content {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  color: #fff; }

.like-box {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 500; }
  .like-box .fb-share-button {
    position: relative;
    top: -4px;
    margin-right: 4px; }

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  position: relative;
  z-index: 2; }
  .overlay.open {
    display: block; }
  .overlay .center {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
    .overlay .center .wrapper {
      width: 75%;
      padding: 5%;
      position: relative; }
      .overlay .center .wrapper .bold {
        font-weight: bold; }
      .overlay .center .wrapper a:hover {
        text-decoration: underline; }
      .overlay .center .wrapper .small {
        font-size: 75%;
        margin-top: -20px; }
      .overlay .center .wrapper p {
        text-align: center;
        margin-bottom: 30px; }
        .overlay .center .wrapper p:last-child {
          margin-bottom: 0; }
      .overlay .center .wrapper li {
        margin-bottom: 10px; }
        .overlay .center .wrapper li:last-child {
          margin-bottom: 0; }
      .overlay .center .wrapper > div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        border: 1px solid #fff;
        border-bottom: none;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
        pointer-events: none; }
        .overlay .center .wrapper > div .btn-confirm {
          font-size: 1.6em;
          letter-spacing: 18px;
          text-align: center;
          -webkit-transform: translateY(25%);
              -ms-transform: translateY(25%);
                  transform: translateY(25%);
          margin: 0 16px;
          pointer-events: all; }
        .overlay .center .wrapper > div h2 {
          font-size: 1.6em;
          letter-spacing: 18px;
          text-align: center;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          margin: 0 16px; }
          @media screen and (max-width: 685px) {
            .overlay .center .wrapper > div h2 {
              letter-spacing: 2px; } }
        .overlay .center .wrapper > div > div {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          border-bottom: 1px solid #fff;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
              -ms-flex: 1;
                  flex: 1;
          height: 100%; }
    .overlay .center .btn-close {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 2px solid #fff;
      text-align: center; }
      .overlay .center .btn-close div {
        margin: 0 auto;
        position: relative;
        width: 50%;
        height: 1px; }
        .overlay .center .btn-close div span {
          display: block;
          position: absolute;
          height: 3px;
          width: 15px;
          margin: 0 auto;
          background-color: #fff; }
          .overlay .center .btn-close div span:nth-child(1) {
            -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                    transform: rotate(45deg); }
          .overlay .center .btn-close div span:nth-child(2) {
            -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg); }
      .overlay .center .btn-close:hover {
        background-color: #fff; }
        .overlay .center .btn-close:hover span {
          background-color: #000; }
  .overlay[data-overlay="troubleshooting"] .wrapper > div {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-top: none;
    border-bottom: 1px solid #fff; }
    .overlay[data-overlay="troubleshooting"] .wrapper > div > div {
      border-bottom: none;
      border-top: 1px solid #fff; }

.module .content {
  font-size: 1em; }
  .module .content #particles-canvas,
  .module .content #chart-canvas {
    width: 100%;
    height: 100%;
    background: black; }
  .module .content .jurassic-videos {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-object-fit: cover;
    -o-object-fit: cover; }
    .module .content .jurassic-videos#ripple, .module .content .jurassic-videos#trex {
      display: none; }
.module .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5em; }
  .module .footer .troubleshooting {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0; }
    .module .footer .troubleshooting .btn-overlay {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 2px solid #fff;
      text-align: center;
      font-size: 20px !important; }
      .module .footer .troubleshooting .btn-overlay span {
        position: relative;
        left: 1px;
        top: 1px; }
      .module .footer .troubleshooting .btn-overlay:hover {
        background-color: #fff;
        color: #000; }
  .module .footer .space-indicator {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0; }
    .module .footer .space-indicator .wrapper {
      margin: 0 auto;
      cursor: pointer; }
      .module .footer .space-indicator .wrapper p {
        text-align: center; }
        .module .footer .space-indicator .wrapper p:nth-child(1) {
          padding: 4px;
          letter-spacing: 16px;
          border: 1px solid #fff;
          border-radius: 5px;
          font-size: 0.93em; }
        .module .footer .space-indicator .wrapper p:nth-child(2) {
          margin-top: 10px;
          font-size: 0.5em;
          letter-spacing: 1px; }
  .module .footer .social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0; }
    .module .footer .social a {
      float: right; }
    .module .footer .social .like-box {
      float: right; }
    .module .footer .social .wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .module .footer .social .btn-overlay {
      font-size: 0.5em;
      letter-spacing: 2px;
      width: 100%;
      margin-bottom: 2px; }
      .module .footer .social .btn-overlay span {
        float: right; }
      .module .footer .social .btn-overlay:hover span {
        text-decoration: underline; }
