.container {
	z-index: -1;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 50px;
	right: 0;
	bottom: 0;
	background-color: darken($main-color, 25%);
	font-size: 1.5em;
	color: #FFF;
	transition: left 500ms ease-in-out;
	
	&.pushed {
		left: 150px;
	}

	.center {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
 		justify-content: center;
 		flex-direction: column;

 		.bold {
 			font-weight: bold;
 		}

 		p {
 			text-align: center;
 			max-width: 50%;
 			min-width: 700px;
 			margin: 5px;
 		}

 		.btn-confirm {
 			position: relative;
 			margin: 15px 30px;
 			padding: 15px 50px;
			background: $main-color;
 			color: #FFF;
 			font-family: $font-stack;
 			font-weight: bold;
 			font-size: 1em;
 			text-transform: uppercase;
 			letter-spacing: 1px;
			border: none;
 			border-radius: 5px;
			box-shadow: 0 6px darken($main-color, 30%);
 			outline: none;
 			cursor: pointer;

 			&:active {
 				box-shadow: 0 4px darken($main-color, 30%);
    			top: 2px;
 			}
 		}
	}
}

@import 'content';

.loading {
	@extend .container;

	&.hidden {
		visibility: hidden;
	}

	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}