.content {
	@extend .container;
	font-size: 1em;
	left: 0;

	#particles-canvas, #chart-canvas {
		width: 100%;
		height: 100%;
		background: darken($main-color, 30%);
	}

	.jurassic-videos {
		width: 100%;
		height: 100%;
		object-fit: cover;
		-webkit-object-fit: cover;
		-o-object-fit: cover;

		&#ripple, &#trex {
			display: none;
		}
	}

	.center {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
	 	justify-content: center;
	 	flex-direction: column;

 		.bold {
 			font-weight: bold;
 		}

 		p {
 			text-align: center;
 			max-width: 50%;
 			min-width: 700px;
 			margin: 5px;
 		}

 		.btn-confirm {
 			position: relative;
 			margin: 15px 30px;
 			padding: 15px 50px;
			background: $main-color;
 			color: #FFF;
 			font-family: $font-stack;
 			font-weight: bold;
 			font-size: 1em;
 			text-transform: uppercase;
 			letter-spacing: 1px;
			border: none;
 			border-radius: 5px;
			box-shadow: 0 6px darken($main-color, 30%);
 			outline: none;
 			cursor: pointer;

 			&:active {
 				box-shadow: 0 4px darken($main-color, 30%);
    			top: 2px;
 			}
 		}
	}
}