.container {
	z-index: -1;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 50px;
	right: 0;
	bottom: 0;
	background-color: darken($main-color, 25%);
	font-size: 1.5em;
	color: #FFF;
	transition: left 500ms ease-in-out;
	
	&.pushed {
		left: 150px;
	}
}

@import 'content';