.menu {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: $main-color;
	padding-top: 60px;
	font-weight: 300;
	-webkit-transition: all 500ms ease-in-out;
	   -moz-transition: all 500ms ease-in-out;
			transition:	all 500ms ease-in-out;

	.toggle-button {
	    position: absolute;
	    display: block;
		height: 30px;
		width: 45px;
		top: 10px;
		left: 1px;
	    border: none;
	    background-color: transparent;
	    outline: none;
	    cursor: pointer;

		span, span:before, span:after {
			position: absolute;
			display: block;
			height: 5px;
			width: 35px;
			content: '';
			background-color: #FFF;
			border-radius: 1px;
			-webkit-transition: all 500ms ease-in-out;
	   		   -moz-transition: all 500ms ease-in-out;
					transition:	all 500ms ease-in-out;
		}

		span {
			&:before {
				top: -10px;
			}

			&:after {
				bottom: -10px;
			}
		}

		&.opened {
			span {
				background-color: transparent;

				&:before {
					top: 0;
					transform: rotate(45deg);
				}

				&:after {
					top: 10px;
					transform: translateY(-10px) rotate(-45deg);
				}
			}
		}
	}

	&.closed {
		width: 50px;

		ul, h3 {
			visibility: hidden;
			opacity: 0;
		}
	}

	&.open {
		width: 150px;

		ul, h3 {
			visibility: visible;
			opacity: 1;
		}
	}

	a {
		color: #FFF;
	}

	h3 {
		height: 65px;
		line-height: 65px;
		padding: 0 0 0 15px;
		background-color: darken($main-color, 15%);
		color: $main-color;
		font-size: 1.2em;
	}

	li {
		height: 53px;
		line-height: 53px;
		padding: 0 0 0 15px;
		border-bottom: 1px solid darken($main-color, 15%);
		color: #FFF;
		font-size: 0.9em;
		list-style: none;
		cursor: pointer;

		&:hover {
			background-color: darken($main-color, 5%);
		}

		&.active {
			background-color: darken($main-color, 10%);
		}
	}

	ul, h3, li {
		transition: all 500ms ease-in-out;
		overflow: hidden;
	}
}