@import 'partials/reset';

// [data-overlay="landing"] {
// 	display: none !important;
// }

body {
	height: 100%;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

button {
	display: block;
	padding: 0;
	border: none;
	background: none;
	outline: none;
	text-align: left;
	text-transform: uppercase;
 	font-family: 'Nunito';
	font-size: 0.75em;
	color: #FFF;
	cursor: pointer;
	transition: all 250ms;
}

h1,h2,h3,h4,h5,h6,p {
	line-height: 1.3;
}

.no-spacing {
	letter-spacing: 0;
}

a,
a:visited {
	text-decoration: none;
	color: #FFF;
}

.video-container {
	visibility: hidden;

	video, canvas {
		position: absolute;
		top: 0;
		right: 0;
	}
}

#dpi {
	height: 1in;
	width: 1in;
	left: 100%;
	top: 100%;
	position: fixed;
}

@import 'partials/container';
